
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');
body{
  background-color: black;
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  color: #D95988;

}
body:hover{
  background-color: #515557;
}
.big{
  margin-top: 100px;
}
.one{
    text-align: center;
}
.thehistoryofmine{
  font-size: 24px;
  color: #FFEC40;
}
.wanderlust{
  font-size: 24px;
  color: #FFEC40;

}
.word{
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.description{
  font-size: 20px;
}

.p{
  text-align: center;
}
.two{
  text-align: center;
  margin-top: 100px;
}
.three{
  text-align: center;
  margin-top: 100px;
}
.puzzle{
  font-size: 24px;
}
.retrospect{
  font-size: 24px;
  color: #FFEC40;
}
.four{
  text-align: center;
  margin-top: 100px;
}
a{
  color: #FFEC40;
}
a:hover{
  color: #F28705;
}
.button1 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}
button:hover{
  background-color: #FFEC40;
  color:#9BDAF2;
}
.button2 {
  background-color:#F2B6C1;
  border-radius: 12px;
  color: #FFEF00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  float: right;
  font-family: 'Architects Daughter', cursive;
}
